@import "./reset";
@import "./variabless";
@import "./animations";
@import "./font-awesome/font-awesome";

@import "./main-header";

// -------------------------- COMMON START --------------------------------
html, body {
  height: 100%;
  font-size: 10px;
  font-family: Roboto;
}

body {
  padding: 5rem 0;
  background-color: #efefef;
}

.cv {
  margin: 0 auto;
  max-width: 120rem;
  height: 100%;
  font-size: 0;
}

.main-header, .page-wrapper {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.main-header {
  width: 30%;
  padding-right: 2rem;
}

.main-nav {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: @gray-black;

  &-li {
    position: relative;
    border-bottom: 1px solid #26292e;
    text-align: right;

    &:last-child {
      border-bottom: none;
    }
  }

  &-item {
    display: block;
    padding: 2rem;
    color: #85878b;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: @main-hover-color;
      transform: scaleX(0);
      transition: all 0.4s ease;
    }

    &:hover,
    &.active {
      color: white;

      &:before {
        transform: scaleX(1);
      }
    }

    > * {
      position: relative;
      z-index: 2;
    }

    i {
      float: left;
      font-size: 2rem;
      margin-top: -0.3rem;
    }
  }
}

.avatar {
  position: relative;

  &-title {
    position: absolute;
    padding: 0.5rem 1.5rem;
    color: #FFF;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: left top;
    background: linear-gradient(to left, #33373D 0%,rgba(51,55,61,0) 100%);

  }

  img {
    width: 100%;
  }
}

.social-links {
  padding: 2rem;
  background-color: white;
  color: @gray-black;
  font-size: 2rem;
  text-align: center;

  &-li {
    display: inline-block;
    margin: 0 0.3rem;
    width: 4.4rem;
    line-height: 4rem;
    border-radius: 50%;
    border: 2px solid @gray-black;
    transition: all 0.4s;

    &:hover {
      color: @main-hover-color;
      border-color: @main-hover-color;
    }
  }
}

.page-wrapper {
  width: 70%;
  background-color: white;
}

// -------------------------- COMMON END ----------------------------------