@import "./reset";
@import "./variabless";
@import "./animations";
@import "./font-awesome/font-awesome";

@import "./home";
@import "./skills";
@import "./portfolio";
@import "./contact";

// -------------------------- COMMON START --------------------------------
html, body {
  min-height: 100%;
  color: @gray-black;
  font-size: 10px;
  font-family: Roboto;
}

body {
  padding: 5rem 0;
  background-color: @gray;

  @media @mobile {
    padding: 0;
  }

  @media @tablet {
    padding: 2rem;
  }
}

.loading {
  font-size: 2rem;
}

.cv {
  margin: 0 auto;
  max-width: 120rem;
  height: 100%;
  font-size: 0;
}

.main-header, .page-wrapper {
  display: inline-block;
  min-height: 100%;
  vertical-align: top;

  @media @mobile {
    display: block;
  }

  @media @tablet {
    display: block;
  }
}

.main-header {
  width: 30%;
  padding-right: 2rem;

  @media @mobile {
    width: auto;
    padding-right: 0;
  }

  @media @tablet {
    width: auto;
    padding-right: 0;
  }
}

.main-nav {
  font-weight: bold;
  text-transform: uppercase;
  background-color: @gray-black;

  &-li {
    position: relative;
    border-bottom: 0.1rem solid #26292e;
    font-size: 1.4rem;
    text-align: right;

    @media @mobile {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      border: none;
    }

    @media @tablet {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      border-bottom: none;
      border-right: 0.1rem solid #26292e;

      &:last-child {
        border-right: none;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &-item {
    display: block;
    padding: 2rem;
    color: #85878b;

    @media @mobile {
      display: inline-block;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: @main-hover-color;
      transform: scaleX(0);
      transition: all 0.4s ease;
    }

    &:hover,
    &.active {
      color: white;

      &:before {
        transform: scaleX(1);
      }
    }

    > * {
      position: relative;
      z-index: 2;
    }

    i {
      float: left;
      font-size: 2rem;
      margin-top: -0.3rem;

      @media @mobile {
        font-size: 2rem;
      }
    }
  }
}

.avatar {
  position: relative;

  &-title {
    position: absolute;
    padding: 0.5rem 1.5rem;
    color: #FFF;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: left top;
    background: linear-gradient(to left, #33373D 0%,rgba(51,55,61,0) 100%);

  }

  img {
    width: 100%;
  }
}

.social-links {
  padding: 2rem;
  background-color: white;
  color: @gray-black;
  font-size: 2rem;
  text-align: center;

  &-li {
    display: inline-block;
    margin: 0 0.1rem;
    width: 4rem;
    line-height: 3.5rem;
    border-radius: 50%;
    border: 0.2rem solid @gray-black;
    transition: all 0.4s;

    &:hover {
      color: @main-hover-color;
      border-color: @main-hover-color;
    }
  }
}

.page-wrapper {
  width: 70%;
  background-color: white;

  @media @mobile {
    width: auto;
  }

  @media @tablet {
    width: auto;
  }
}

.page {
  opacity: 0;
  animation: fadeIn 1s forwards;

  &-footer {
    padding: 5rem 0;
    text-align: center;
    border-top: 1px solid @gray;

    .download-cv {
      display: inline-block;
      padding: 1rem 0;
      margin: 0 2rem;
      width: 25rem;
      font-size: 2rem;
      text-transform: uppercase;
      border: 0.3rem solid;

      i {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }

    .download-cv {
      position: relative;
      border-width: 0;
      border-bottom-width: 0.3rem;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        left: 0;
        bottom: -0.3rem;
        border-left: 0.3rem solid;
        border-top: 0.3rem solid;
      }

      &:after {
        content: '';
        position: absolute;
        width: 0;
        right: 0;
        bottom: -0.3rem;
        border-right: 0.3rem solid;
        border-top: 0.3rem solid;
      }

      &:hover {
        &:before,
        &:after {
          animation: button-smart-border 0.4s forwards;
        }
      }
    }
  }
}

.section {
  padding: 0 3rem;
  margin-bottom: 2rem;

  @media @mobile {
    padding: 0 2rem;
  }

  &-title {
    padding: 2rem 3rem 1rem;
    margin: 0 -3rem 3rem;
    color: @gray-black;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 0.1rem solid @gray;
  }
}

// -------------------------- COMMON END ----------------------------------